.offsetMerSearch {
  position: absolute;
  left: 500px;
  top: 100px;
}

.offsettable {
  position: absolute;
  left: 0px;
  top: 200px;
  width: 100%;
}

.offsetMerHome {
  position: absolute;
  left: 350px;
  top: 250px;
}

.upload {
  position: absolute;
  left: 400px;
  top: 100px;
  width: 640px;
  height: 360px;
}
.update {
  position: absolute;
  left: 400px;
  top: 550px;
  width: 640px;
  height: 360px;
}

.viewPast {
  position: absolute;
  left: 400px;
  top: 100px;
  width: 640px;
  height: 360px;
}
.createShop {
  position: absolute;
  left: 400px;
  top: 100px;
  width: 640px;
  height: 360px;
}
.updateOrder {
  position: absolute;
  left: 400px;
  top: 100px;
  width: 640px;
  height: 360px;
}
